###
### index.mako - this is the main page for the dashboard
###
<%!
    inherit_layout = True 
    layout_name = "layout.mako" 
    page_id = 'home-page'
    page_title = 'Data Quality Dashboard'
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="layout.mako" />

###
### namespaces
###


###
### blocks
###

<%block name="extra_header_markup">
</%block>
<% page_list = ['rain','snow','bragg']
%>

        <div id="dqd-page" data-role="page">
            <div id="nav-panel" data-role="panel" data-position="right" data-display="overlay">
		        <ul data-role="listview">
		            <li data-role="list-divider">
		                ZDR Bias
		            </li>
                            <li>
                               <a href="#fullchart-page">3-Panel Overview</a>
                            </li>
		            <li>
		                <a class="chart-page" name="rain" href="#rain-page">Rain method</a>
		            </li>
		            <li>
		                <a class="chart-page" name="snow" href="#snow-page">Snow method</a>
		            </li>
		            <li>
		                <a class="chart-page" name="bragg" href="#bragg-page">Bragg method</a>
		            </li>
                            <li data-role="list-divider">
                                Archived Status Products
                            </li>
                            <li>
				<a href="http://swewww/asp_view" rel="external" target="_blank" data-icon="action">ASP Viewer</a>
			    </li>
                            <li>
			        <a href="#asp-view" data-icon="bullets">ASP Viewer Beta</a>
			    </li>
                            <li data-role="list-divider">
                                Issues
                            </li>
                            <li>
                                <a class="chart-page" name="issue" href="#issue-page">Submit Feedback</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://docs.google.com/a/noaa.gov/spreadsheets/d/1ITrfO_KmNXUFaJPJsPLrjgXr7n6xSAxL7hihkD2E4R8/edit?usp=sharing">View Feedback</a>
                            </li>	
		        </ul>
	    </div>
            <div data-role="header" style="overflow:hidden;" data-theme="b">
                <div class="ui-grid-c">
        	    <div class="ui-block-a" style="width:5%">
            	 	<img style="height:50px" src="dqd/static/ROC_logo.png"></img>
        	    </div>
                    <div class="ui-block-b" style="width:5%">
                 	<img style="height:50px" src="dqd/static/NWS_logo.svg"></img>
            	    </div>
            	    <div class="ui-block-c" style="width:5%">
            		<img style="height:50px" src="dqd/static/NOAA_logo.svg"></img>
        	    </div>
        	    <h2 class="ui-block-d" style="text-align:center;width:70%;margin-top:0.5%">Data Quality Dashboard</h2>
        	</div>
                <a href="#nav-panel" class="ui-btn-right ui-btn-a ui-btn ui-btn-inline ui-btn-icon-right ui-icon-bars ui-shadow">Menu</a>
       	    </div><!-- /header --> 

            <div role="main" class="ui-content">
                <div class="ui-bar ui-bar-a ui-grid-d">
                    <h3 class="ui-block-a" style="width:15%">ZDR Data Quality</h3>
		    <h3 id="endStamp" class="ui-block-b" style="width:25%">6 Month Period Ending:</h3>
		    <h3 class="ui-block-c" style="width:30%">Time Period:</h3>
		    <h3 class="ui-block-d redundant" style="visibility:hidden" align="center">RDA Channel:</h3>
		    <h1 class="ui-block-e" style="width:10%"align="right" id="site">ICAO</h1>
                </div>
		<div class="ui-grid-b">
		    <div class="ui-block-a" style="width:38%">
                        <a href="#selectDQDICAO" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">Select Site</a>
                        <div data-role="popup" data-overlay-theme="b" data-position-to="origin" style="max-height:600px;overflow-y:scroll" id="selectDQDICAO" data-theme="b">
                            <form class="ui-filterable">
                                <input id="filterDQDICAO" data-type="search">
                            </form>
                            <ul data-role="listview" data-filter="true" data-input="#filterDQDICAO">
                            % for site in context.get("ICAO_list"):
                                <li><a class="DQDICAO" id="${site}" href="#">${site}</a></li>
                            % endfor
                            </ul>
                        </div>
			<select name="selectYear" id="selectYear" data-inline="true">
			% for year in context.get("Years"):
			    % if int(year) > 2012:
		            <option value="${year}">${year}</option>
			    % endif
			% endfor
		        </select>
                        <select name="selectMonth" id="selectMonth" data-inline="true">
                        % for num,month in enumerate(sorted(context.get("M2N"), key=context.get("M2N").get)):
			    <option id="${num + 1}">${month}</option>
			% endfor
                        </select>
  			<a href="#" id="submitDQDDate" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-check">Submit</a>
		    </div>
		    <form class="ui-block-b" style="width:34%">
		        <fieldset style="display:inline-block" id="time-form" data-type="horizontal" data-role="controlgroup">
     		            <input type="radio" name="time-select" id="sixMonths" value="sixMonths"/>
     		    	    <label for="sixMonths">6 Months</label>

     		    	    <input type="radio" name="time-select" id="oneMonth" value="oneMonth"/>
     		    	    <label for="oneMonth">1 Month</label>

     		    	    <input type="radio" name="time-select" id="sevenDays" value="sevenDays"/>
     		    	    <label for="sevenDays">7 Days</label>

     		    	    <input type="radio" name="time-select" id="latestVolume" value="latestVolume" checked="true"/>
     		    	    <label for="latestVolume">Latest Volume</label>
		        </fieldset>
		    </form>
		    <form class="ui-block-c redundant" id="channel-form" style="visibility:hidden;width:28%">
                        <fieldset style="display:inline-block"data-type="horizontal" data-role="controlgroup" data-inline="true">
                            <input type="radio" name="overview-channel-select" id="overviewChan1" value="Chan1"/>
                            <label for="overviewChan1">Channel 1</label>
                            <input type="radio" name="overview-channel-select" id="overviewChan2" value="Chan2"/>
                            <label for="overviewChan2">Channel 2</label>
                        </fieldset>
		    </form>
		</div>
		<h3 align="center" id="noData"></h3>
                <div class="ui-body ui-body-a">
		    <h3 id="statsFound" style="text-align:center;margin:0px">Total ZDR Stats Processed:N/A</h3>
		    <a href="#fullchart-page">
		        <div id="main-gauge" style="height:480px; width:640px; margin:auto;"></div>
		    </a>
		    <div class="ui-grid-b">
	                    <div id="rain-gauge" class="ui-block-a ui-input-btn ui-btn ui-shadow">
	                        <input name="rain" type="button" data-enhanced="true" value="">
	                    </div>
	                    <div id="snow-gauge" class="ui-block-b ui-input-btn ui-btn ui-shadow">
	                        <input name="snow" type="button" data-enhanced="true" value="">
	                    </div>
	                    <div id="bragg-gauge" class="ui-block-c ui-input-btn ui-btn ui-shadow">
	                        <input name="bragg" type="button" data-enhanced="true" value="">
	                    </div>
                    </div>
                </div>
            </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center - INTERNAL USE ONLY</h3>
            </div>
        </div>
        % for name in page_list:
        <div id="${name}-page" data-role="page">
            <div id="${name}-nav-panel" data-role="panel" data-position="right" data-display="overlay">
                <ul data-role="listview">
                    <li data-role="list-divider">
                        ZDR Bias
                    </li>
                    <li>
                        <a href="#fullchart-page">3-Panel Overview</a>
                    </li>
                    <li>
                        <a class="chart-page" name="rain" href="#rain-page">Rain method</a>
                    </li>
                    <li>
                        <a class="chart-page" name="snow" href="#snow-page">Snow method</a>
                    </li>
                    <li>
                        <a class="chart-page" name="bragg" href="#bragg-page">Bragg method</a>
                    </li>
                    <li data-role="list-divider">
                        Issues
                    </li>
                    <li>
                        <a class="chart-page" name="issue" href="#issue-page">Submit Feedback</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://docs.google.com/a/noaa.gov/spreadsheets/d/1ITrfO_KmNXUFaJPJsPLrjgXr7n6xSAxL7hihkD2E4R8/edit?usp=sharing">View Feedback</a>
                    </li>

                </ul>
            </div>
        
            <div data-role="header">
                <h2>ZDR Bias - ${name.capitalize()}</h2>
                <a href="#${name}-nav-panel" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-icon-bars ui-shadow">Menu</a>	
		<a href="#dqd-page" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-home ui-shadow">Home</a>
            </div>
            <div id="${name}-main" role="main" class="ui-content">
                <h2 style="margin:0px" class="sites" align="center"></h2><h4 style="margin-bottom:0px;margin-top:10px" align="center">7 Day Running Median Shading/Daily Median Points</h4>
		<form class="redundant" style="visibility:hidden; position:absolute">	
            	    <fieldset data-role="controlgroup" data-mini="true">
                        <legend>RDA Channel:</legend>
                	<input name="channel-toggle" id="${name}Chan1" value="Chan1" class="${name}" type="checkbox">
                	<label for="${name}Chan1">Channel 1</label>
                	<input name="channel-toggle" id="${name}Chan2" value="Chan2" class="${name}" type="checkbox">
                	<label for="${name}Chan2">Channel 2</label>
                    </fieldset>
		</form>
		<div id="${name}-container"></div>
		<div align="center">	
                    <a class="ui-btn ui-btn-inline ui-shadow" href="#fullchart-page">Return to 3-Panel Overview</a>
		</div>
            </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center - INTERNAL USE ONLY</h3>
            </div>
        </div>
        % endfor
        <div id="fullchart-page" data-role="page">
            <div id="fullchart-nav-panel" data-role="panel" data-position="right" data-display="overlay">
                <ul data-role="listview">
                    <li data-role="list-divider">
                        ZDR Bias
                    </li>
                    <li>
                        <a href="#fullchart-page">3-Panel Overview</a>
                    </li>
                    <li>
                        <a name="rain" href="#rain-page">Rain method</a>
                    </li>
                    <li>
                        <a name="snow" href="#snow-page">Snow method</a>
                    </li>
                    <li>
                        <a name="bragg" href="#bragg-page">Bragg method</a>
                    </li>
                </ul>
            </div>

            <div data-role="header">
                <h2>ZDR Bias - All Methods</h2>
                <a href="#fullchart-nav-panel" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-icon-bars ui-shadow">Menu</a>
                <a href="#dqd-page" class="home ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-home ui-shadow">Home</a>
            </div>
            <div id="fullchart-main" role="main" class="ui-content">
                <div style="text-align:center">
                    <h2 style="display:inline-block;margin:0px;" class="sites"></h2><h4 style="display:inline-block;margin:0px;">&nbsp 7 Day Running Median Shading/Daily Median Points</h4>
                </div>
                <form style="position:absolute" class="redundant">
                    <fieldset data-role="controlgroup" data-mini="true">
                        <legend>RDA Channel:</legend>
                        <input name="channel-toggle" value="Chan1" id="fullchartChan1" class="fullchart" type="checkbox">
                        <label for="fullchartChan1">Channel 1</label>
                        <input name="channel-toggle" value="Chan2" id="fullchartChan2" class="fullchart" type="checkbox">
                        <label for="fullchartChan2">Channel 2</label>
                    </fieldset>
                </form>
                <h2 style="position:absolute;top:200px;margin:0px;">Rain -</h2>
                <h2 style="position:absolute;top:440px;margin:0px;">Snow -</h2>
                <h2 style="position:absolute;top:680px;margin:0px;">Bragg -</h2>
                <a href="#rain-page">
                    <div id="rain-fullcontainer"></div>
                </a>
                <a href="#snow-page">
                    <div id="snow-fullcontainer"></div>
                </a>
                <a href="#bragg-page">
                    <div id="bragg-fullcontainer"></div>
                </a>
            </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center</h3>
            </div>
        </div>
        <div id="issue-page" data-role="page">
            <div id="issue-nav-panel" data-role="panel" data-position="right" data-display="overlay">
                <ul data-role="listview">
                    <li data-role="list-divider">
                        ZDR Bias
                    </li>
                    <li>
                        <a class="chart-page" name="rain" href="#rain-page">Rain method</a>
                    </li>
                    <li>
                        <a class="chart-page" name="snow" href="#snow-page">Snow method</a>
                    </li>
                    <li>
                        <a class="chart-page" name="bragg" href="#bragg-page">Bragg method</a>
                    </li>
                </ul>
            </div>

            <div data-role="header">
                <h2>Issue/Feedback Form</h2>
                <a href="#issue-nav-panel" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-icon-bars ui-shadow">Menu</a>
                <a href="#dqd-page" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-left ui-icon-home ui-shadow">Home</a>
            </div>
            <div id="issue-main" role="main" class="ui-content">
		<form target="_blank" action="dqd/feedback" id="submit-feedback">
		    <label for="error">Error Description - Please provide the ICAO and time range if possible/applicable:</label>
		    <input name="error" id="error" placeholder="ie. Internal Server Error" value="" type="text">
                    <label for="email">E-Mail Address - for confirmation and follow-up:</label>
                    <input name="email" id="email" placeholder="(optional)" value="" type="text">
	 	    <label for="comments">Additional Comments:</label>
		    <textarea cols="40" rows="8" name="comments" id="comments"></textarea>
		    <button class="ui-shadow ui-btn ui-corner-all" type="submit" id="submit-feedback">Submit</button>
		    <p>You can also contact the developer directly at Brandon.M.Taylor@noaa.gov</p>
        	</form>
	    </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center - INTERNAL USE ONLY</h3>
            </div>
        </div>

	

<%include file="asp_viewer.html"/>

